@import "../../../sass/abstracts/variables.scss";

:host {
  flex: 1 0 auto;
  margin-top: 20px;
}

.instructions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instructions-container h2 {
  font-size: 3em;
  color: $black;
}

.instructions-container ol li {

  margin-top: 20px;
  font-size: 2em;
  color: $black;

}

.instructions-container img {
  width: 100%;
}
